*

!*.py
!.vscode
!.gitignore
!pyproject.toml
!ruff.toml
!environment.yml
!gdd-uebung.code-profile
!Pipfile
!Pipfile.lock
!README.md
!requirements.txt
!tests/
!docs/
!docs/*.rst
!functions/
!project/
!project/data/
!*.h5
